{% extends 'blog_app/base.html' %}
{% block content %}
{% load static %}

<div class="container custom-container">
    <nav class="navbar navbar-light bg-warning">
        <div class="container-fluid">
            <a href="/home"><img class="rounded-circle" src="{% static 'image/logo.png' %}" alt="" height="80"></a>
            <h1>Blog Website</h1>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown me-2">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/newpost">New Post</a>
                        <a class="dropdown-item" href="/mypost">My Posts</a>
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="/signout">Sign Out</a>
                        {% else %}
                        <a class="dropdown-item" href="/signout">Login</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <br><br><br>
    <div class="container custom-container" style="max-width: 1350px ; ">
        {% for post in posts %}
        <article class="media content-section">
            <div class="media-body" style="border:2px solid #000000; border-radius:15px ; background-color:#ffffff; padding: 23px; margin-bottom: 25px;">
                <div class="article-metadata ">
                    <h1 class="" style="text-align:left;float:left; color: #000000;">{{ post.title }}</h1>
                    <h6 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h6>
                    <hr style="clear:both;" />
                </div>
                <p>{{ post.content|slice:":200"|linebreaks }}...</p>

                <div class="card-footer d-flex justify-content-between align-items-center" style="margin: 20px -25px -35px;background-color:rgba(129,127,127,0.11); padding: 10px 20px 20px;">
                    <h5>posted by: {{ post.author }}</h5>
                    <a class="btn btn-sm btn-info" href="/read/{{post.id}}"><i class="fa-brands fa-readme"></i> Read Post</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% endblock %}