{% extends 'blog_app/base.html' %}
{% block content %}
{% load static %}

<div class="container custom-container">
    <nav class="navbar navbar-light bg-warning">
        <div class="container-fluid">
            <a href="/home"><img class="rounded-circle" src="{% static 'image/logo.png' %}" alt="" height="80"></a>
            <h1>Blog Website</h1>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown me-2">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/newpost">New Post</a>
                        <a class="dropdown-item" href="/mypost">My Posts</a>
                        <a class="dropdown-item" href="/signout">Sign Out</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <br><br>
    <div class="container custom-container" style="max-width: 300px ; border-radius: 20px; padding-top: 5px; padding-bottom: 5px; background-color:#ffffff; text-align: center ">
        <h1>My Posts </h1>
    </div>
    <br>
    <div class="container custom-container" style="max-width: 1350px ;">

        {% for post in posts %}
        <article class="media content-section">

            <div class="media-body" style="border: 2px solid black; padding: 23px; margin-bottom: 10px; background-color:#ffffff; border-radius:15px ;">

                <div class="article-metadata">
                    <!-- <h3 aligh="left">{{ post.author }} </h3>
                    <h5 aligh="right">{{ post.date_posted|date:"F d, Y" }}</h5> -->
                    <h2 class="text-uppercase" style="text-align:left;float:left; color: #000000;">{{ post.author }}</h2>
                    <h5 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h5>
                    <hr style="clear:both;" />

                </div>
                <h3>{{ post.title }}</h3>
                <p class="article-content">{{ post.content|linebreaks }}</p>
                <div class="card-footer" style="text-align:right; margin: 20px -25px -35px;background-color:rgba(129,127,127,0.11); padding: 10px 20px 20px;">
                    <a class="btn btn-sm btn-info" href="/edit/{{post.id}}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a class="btn btn-sm btn-danger" href="/delete/{{post.id}}"> <i class="fa-solid fa-trash"></i> Delete</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}